// reset css

* {
  // padding: 0;
  // margin: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

body {
  header {
    nav {
      background-color: #496b93;
      .max-w-screen-xl {
        .nav_icon {
          a {
            font-size: 20px;
            padding-right: 5px;
            i::before {
              border-radius: 50% !important;
              background-color: red;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
