//base
@import "./base/base";

//layout
@import "./layout/header";
@import "./layout/carousel";
@import "./layout/footer";

// pages
@import "./page/index";
@import "./page/detail";
@import "./page/register"



