  header {
    nav {
      background-color: #496b93;
      .max-w-screen-xl {
        .nav_icon {
          a {
            font-size: 20px;
            padding-right: 5px;
            i::before {
              border-radius: 50% !important;
              background-color: white;
              padding: 8px;
              margin: 5px;
            }
          }
        }
        button {
          li {
            a {
              span {
                i.fa-user {
                  padding-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }