body {
  .banner_detail {
    background-image: url("https://t4.ftcdn.net/jpg/07/32/67/15/360_F_732671561_pN33bNo3bcq2ZmkZFSLR3kk41fpg7rxc.jpg");
    background-position: bottom left;
    background-size: cover;
    height: 30vh;
  }

  .product_categories {
    .product_show {
      img {
        width: 400px;
        height: auto;
      }
    }
  }
  .products {
    .categories {
      h4 {
        font-size: 30px;
      }
    }
  }
  .product_info {
    .content_right{
      .payment_option{
        img{
          // width: 100px;
          height: 50px;
        }
      }
    }
  }
}